body{
  box-sizing: border-box;
  margin: 0;
  background-color: lightgrey;
}

h1{
  background-color: grey;
  width: 100%;
  font-size: 40px;
}

h2{
  font-size: 40px;
}

p{
  text-align: justify;
  color: white;
  font-size: 18px;
}

#content{
  margin-left: 2%;
  margin-right: 2%;
}
